.modificaciones{
    height: 800px;
    border: 2px solid rgb(193, 193, 193); 
}

.visualizador1 {
    height: auto;
    width: auto;
}

.visualizador2{
    height: 800px;
    width: 100%;
    border: 2px solid rgb(193, 193, 193); 
}

.visualizador3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.sistemaImplementado{
    height: 800px;
    border: 2px solid rgb(1, 5, 28); 

}

#titulo{
    margin-top: 3%;
    font-weight: bold;
    font-size: 3em;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.menuBoton{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#archivoDescarga{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}